name: GalaxyCloud Update

on:
  workflow_dispatch:
  schedule:
    - cron: "0 4 * * *"   # 北京时间 12:00
    - cron: "0 10 * * *"  # 北京时间 18:00

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install aiohttp

      - name: Run GalaxyCloud script
        env:
          GC_USERNAME: ${{ secrets.GC_USERNAME }}
          GC_PASSWORD: ${{ secrets.GC_PASSWORD }}
          GC_APP_USERNAME: ${{ secrets.GC_APP_USERNAME }}
        run: |
          python galaxycloud_action.py
